{% extends 'include/include.html' %}

{% block title %}
    博客主页
{% endblock %}

{% block css %}
    <style>
        .pg-body .menus a {
            display: block;
            text-align: center;
        }

        .pg-body .contents .contents-items {
            height: 1000px;
        }

    </style>
{% endblock %}

{% block menus %}
    {% for direction in direction_list %}
        <div class="menus-item" onmouseover="cateShow(this)" onmouseout="cateHide(this)" id="{{ direction.id }}">
            <a class="menus-item-all" href="#">
                {{ direction.name }}
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block contents %}
    <div class="contents-items">
        文章一
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script>
        function cateShow(ths) {
            $.ajax({
                url: '/blog/home/get-item-set/',
                type: 'GET',
                dataType: 'JSON',
                data: {id: ths.getAttribute('id')},
                success: function (ret) {
                    var classification_list = ret;
                    console.log(classification_list);
                    var div_tag = document.createElement('div');
                    div_tag.classList.add('menus-set');
                    div_tag.style.position = 'absolute';
                    div_tag.style.left = '150px';
                    div_tag.style.top = '0';
                    div_tag.style.zIndex = '999';
                    {#div_tag.style.cssFloat = 'right';#}
                    $.each(classification_list, function (index, classification) {
                        console.log(classification + 'eweqwe');
                        var tag = document.createElement('a');
                        tag.innerHTML = classification;
                        div_tag.append(tag);
                    });
                    ths.append(div_tag);
                }
            })
        }

        function cateHide(ths) {
            $(ths).children('.menus-set').removeClass('menus-set');
        }

    </script>
{% endblock %}