<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>img_video2</title>
    <style>
        .img_video {
            width: 100%;
        }

        .img_video .item {
            float: left;
            width: 20%;
        }

        .img_video .item img {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="img_video">
    <h1>show</h1>
    <div id="container">
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>

<script src="/static/js/jquery-3.1.1.js"></script>
<script>
    $(function () {
        var img = new Img();
        img.initImg();
        img.listenScroll();
    });


    function Img() {
        this.nid = 0;
        this.eqv = 0;

        var self = this;
        this.initImg = function () {
            $.ajax(
                {
                    url: '/51CTO/get_img',
                    dataType: 'JSON',
                    data: {nid: self.nid},
                    type: 'GET',
                    success: function (ret) {
                        var img_list = ret.data;
                        $.each(img_list, function (index, img) {
                            eqv = (index + self.eqv) % 5;// 求余
                            var tag = document.createElement('img');//创建img标签
                            tag.src = {{ MEDIA_URL }} +img.img_path;//给img标签加上src属性
                            $('#container').children().eq(eqv).append(tag);//将完成的img标签添加在对应索引的div.item标签下面
                            self.nid = self.nid + 1;
                        });
                        self.eqv = eqv + 1;
                    }
                }
            )
        };
        this.listenScroll = function () {
            window.addEventListener("scroll", function () {

                if (($(document).scrollTop()) >= ($(document).height() - $(window).height())) {

                    //当底部基本距离+滚动的高度〉=文档的高度-窗体的高度时；

                    //我们需要去异步加载数据了

                    self.initImg();

                }
            });
        };
    }
</script>

</body>
</html>