<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>img_video2</title>
    <style>
        .img_video {
            width: 100%;
        }

        .img_video .item {
            float: left;
            width: 20%;
        }

        .img_video .item img {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="img_video">
    <h1>show</h1>
    <div id="container">
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>

<script src="/static/js/jquery-3.1.1.js"></script>
<script>
    $(function () {
        initImg();
        listenScroll();
    });
    var NID = 1;
    function initImg() {//初始化加载图片
        $.ajax(
            {
                url: '/51CTO/get_img',
                dataType: 'JSON',
                data: {nid:NID},
                type: 'GET',
                success: function (ret) {
                    var img_list = ret.data;
                    $.each(img_list, function (index, img) {
                        var eqv = index % 5;// 求余
                        var tag = document.createElement('img');//创建img标签
                        tag.src = {{ MEDIA_URL }} + img.img_path;//给img标签加上src属性
                        $('#container').children().eq(eqv).append(tag);//将完成的img标签添加在对应索引的div.item标签下面
                        NID = NID + 1;
                    });
                }
            }
        )
    }
    function listenScroll() {//监听滚轮是否滚到底部
        window.addEventListener("scroll",function(){

	 		if (($(document).scrollTop()) >= ($(document).height() - $(window).height())) {

	           //当底部基本距离+滚动的高度〉=文档的高度-窗体的高度时；

	            //我们需要去异步加载数据了

	           initImg();

	        }
		});
    }
</script>

</body>
</html>