<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <style>
        .condition a {
            display: inline-block;
            padding: 5px 8px;
            border: 1px solid #dddddd;
        }

        .condition a.active {
            background-color: coral;
            color: white;
        }
    </style>
</head>
<body>
<div class="condition">
    <h1>筛选</h1>
    <div class="classification">
        {% if kwargs.classification_id  == 0 %}
            <a class="active" href="video-0-{{ kwargs.level_id }}.html">全部</a>
        {% else %}
            <a href="video-0-{{ kwargs.level_id }}.html">全部</a>
        {% endif %}
        {% for classification in classification_list %}
            {% if classification.id == kwargs.classification_id %}
                <a class="active"
                   href="video-{{ classification.id }}-{{ kwargs.level_id }}.html">{{ classification.name }}</a>
            {% else %}
                <a href="video-{{ classification.id }}-{{ kwargs.level_id }}.html">{{ classification.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="level">
        {% if kwargs.level_id == 0 %}
            <a class="active" href="video-{{ kwargs.classification_id }}-0.html">全部</a>
        {% else %}
            <a href="video-{{ kwargs.classification_id }}-0.html">全部</a>
        {% endif %}
        {% for level in level_list %}
            {% if level.id == kwargs.level_id %}
                <a class="active" href="video-{{ kwargs.classification_id }}-{{ level.id }}.html">{{ level.title }}</a>
            {% else %}
                <a href="video-{{ kwargs.classification_id }}-{{ level.id }}.html">{{ level.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div>
    <h1>结果</h1>
    <div class="result">
        {% for video in video_list %}
            <a href="{{ video.href }}">{{ video.title }}</a>
        {% endfor %}
    </div>
</div>

</body>
</html>